@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #121212;
}

.wrapper {
    width: 450px;
    padding: 25px;
    border-radius: 7px;
    background: #1e1e1e;
    color: #e0e0e0;
}

.wrapper .gradient-box {
    width: 100%;
    height: 220px;
    border-radius: 7px;
    background: linear-gradient(to right, #bb86fc, #3700b3);
}

.wrapper .row {
    display: flex;
    margin: 20px;
    justify-content: space-between;
}

.row :where(.column, button) {
    width: calc(100% / 2 - 20px);
}

.options p {
    font-size: 1.12rem;
    margin-bottom: 8px;
    color: #e0e0e0;
}

.options .select-box {
    border-radius: 5px;
    padding: 10px 15px;
    border: 1px solid #444;
    background: #1e1e1e;
    color: #e0e0e0;
}

.select-box select {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.12rem;
    background: none;
    color: #e0e0e0;
}

.options .colors {
    margin-left: 60px;
}

.colors input {
    height: 41px;
    width: calc(100% / 2 - 20px);
    background: #1e1e1e;
    color: #e0e0e0;
    border: 1px solid #444;
}

.colors input:last-child {
    margin-left: 6px;
}

.wrapper textarea {
    width: 100%;
    color: #e0e0e0;
    resize: none;
    font-size: 1.05rem;
    border-radius: 5px;
    padding: 10px 15px;
    background: #1e1e1e;
    border: 1px solid #444;
}

.buttons button {
    padding: 15px 0;
    font-size: 1.09rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0px 0px -15px;
    color: #121212;
}

.buttons .refresh {
    background: #6c757d;
}

.buttons .copy {
    background: #bb86fc;
}

.source{
    color: #bb86fc;
    text-decoration: none;
}
