@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Satisfy&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Tangerine:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  background-color: black;
  box-sizing: border-box;
}

.container {
  background-repeat: repeat;
}
.container .image img {
  border-radius: 50%;
}

.container .name h1 {
  border-top: 5px solid whitesmoke;
  border-style: dotted;
  box-sizing: border-box;
  border-left: none;
  border-right:none;
  border-bottom:none;
  position: relative;
  color: #ffffff;
  font-family: "Satisfy", cursive;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, rgba(255, 0, 0, 0.267));
  font-size: 3.5rem;
  line-height: 0.9em;
  outline: none;
  animation: title 5s linear infinite;
}
@keyframes title {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  80%,
  90.1%,
  92% {
    color: #ffffff;
    box-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4,
      0 0 80px #03bcf4, 0 0 160px #03bcf4;
  }
}

.container .info h2{
  color: #ffffff;
  margin: 10px;
  font-family: "Tangerine", cursive;
  font-size: 5rem;
  border-bottom: 2px solid whitesmoke;
}

.container .social a{
  background: white;
  margin-top:5%;
}

.container .info p{
  color: #ffffff;
  margin: 50px;
  margin-top: 0px;
  font-family: "Lobster", cursive;
  font-size: 1.5rem;
}

.social a:hover , .work .project a:hover {
  animation: animate 1s linear infinite;
  text-decoration: none;
  /*font-size: 15px;*/
}
@keyframes animate {
  0% {
    box-shadow: 2px 4px 4px 4px grey;
  }
  14.28% {
    color: violet;
  }
  28.56% {
    color: blue;
  }
  42.84% {
    color: skyblue;
  }
  57.12% {
    color: green;
  }
  71.40% {
    color: yellow;
  }
  85.68% {
    color: orange;
  }
  100% {
    color: red;
  }
}
.work p {
  color: rgb(235, 227, 227);
  font-family:"Lobster" , cursive;
}
.pro{
  display: flex;
  margin: 15%;
  align-items:center;
  justify-content: center;
  padding: 50%;
}
#github{
  align-items: center;
  justify-content: center;
  width:230px;
  height: 60px;
  display: flex;
  background-color: black;
  color:white;
  font-size: 2rem;
  box-shadow: 2px 4px 4px 4px grey;
}
#github i{
  padding-right: 10px;
  font-size: 3rem;
}
.footer{
  
  text-align: center;
  color:white;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  box-sizing: inherit;
  position: sticky;
  width: 100%;
  transition: 2s ease-in;
  border-style:dashed;
}
.footer h2{
  font-family: "Honk", system-ui;
  font-size: 1.5rem;
  border-top:2px solid white;
}